{% extends'admin.html.twig' %}
{% import "Macros/form.twig" as forms %}
{% block body %}
    <div class="row">
        <div class="col-lg-2">
            <div class="card" style="width: 18rem; margin-top: 130px;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/admin/post">Gestion des articles</a></li>
                    <li class="list-group-item"><a href="">Gestion des catégories</a></li>
                    <li class="list-group-item"><a href="">Ajouter une catégorie</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8">
            <section class=" p-3  d-flex flex-column" id="blog">
                <div class="my-auto">
                    <h2 class="mb-5">Articles</h2>
                    <div class="margin10bottom">
                        <a href="/admin/post/edit/{{article.id}}" class="btn btn-info" > Modifier l'article </a> 
                        <a href="/admin/post/delete/{{article.id}}" onclick="return confirm('Etes vous sûr de vouloir supprimer cette article ?')" class="btn btn-danger"  > Supprimer l'article </a>
                    </div> 
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Categorie</th>
                                <td>{{article.categoryId}}</td>
                            </tr>
                            <tr>
                                <th>Titre</th>
                                <td>{{article.title}}</td>
                            </tr>
                            <tr>
                                <th>Contenu</th>
                                <td>{{article.content}}</td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </section>   
        </div>        
    </div>        
{% endblock %}
