{% extends'admin.html.twig' %}
{% import "Macros/form.twig" as forms %}
{% block body %}
    <div class="row">
        <div class="col-lg-2">
            <div class="card" style="width: 18rem; margin-top: 130px;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/admin/post">Gestion des articles</a></li>
                    <li class="list-group-item"><a href="/admin/Category">Gestion des catégories</a></li>
                    <li class="list-group-item"><a href="/admin/Category/add">Ajouter une catégorie</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8">
            <section class=" p-3  d-flex flex-column" id="blog">
                <div class="my-auto">
                    <h2 class="mb-5">Articles</h2>
                    <div class="margin10bottom">
                        <a href="/admin/post/edit/{{article.id}}" class="btn btn-info" > Modifier l'article </a> 
                        <a href="/admin/post/delete/{{article.id}}" onclick="return confirm('Etes vous sûr de vouloir supprimer cette article ?')" class="btn btn-danger"  > Supprimer l'article </a>
                    </div> 
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Categorie</th>
                                <td>{{article.title_cat}}</td>
                            </tr>
                            <tr>
                                <th>Autheur</th>
                                <td>{{article.username}}</td>
                            </tr>
                            <tr>
                                <th>Titre</th>
                                <td>{{article.title}}</td>
                            </tr>
                            <tr>
                                <th>Contenu</th>
                                <td>{{article.content}}</td>
                            </tr>

                        </tbody>
                    </table>
                    <h4>Commentaires sur l'article</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Createur</th>
                                    <th scope="col">Article</th>
                                    <th scope="col">Contenu</th>
                                    <th scope="col">Validation</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for p in comments %}
                                    <tr>
                                        <th scope="row">{{p.id}}</th>
                                        <td><a href="">{{p.userId}}</a></td>
                                        <td><a href="/admin/post/show/{{p.postId}}">{{p.postId}}</a></td>
                                        <td>{{p.content}}</td>
                                        <td><input type="checkbox" name="valided" data-size="mini" data-id="{{p.id}}" data-off-text="non" data-on-text="oui" {% if p.valided %} checked="checked" {% endif %} ></td>
                                        <td>{{p.dateCreated|date}}</td>
                                        <td>
                                            <a href="/admin/comment/show/{{p.id}}" style="margin-right: 10px;" data-toggle="tooltip" title="Voir article"><i class="fas fa-eye"></i></a>
                                            <a href="/admin/comment/edit/{{p.id}}" style="margin-right: 10px;" data-toggle="tooltip" title="Modifier article"><i class="fas fa-edit"></i></a>
                                            <a href="/admin/comment/delete/{{p.id}}" onclick="return confirm('Etes vous sûr de vouloir supprimer cette article ?')" style="margin-right: 10px;" data-toggle="tooltip" title="Supprimer article"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>                        
                </div>
            </section>   
        </div>        
    </div>        
{% endblock %}
