{% extends'admin.html.twig' %}
{% import "Macros/form.twig" as forms %}
{% block body %}
    <div class="row">
        <div class="col-lg-2">
            <div class="card" style="width: 18rem; margin-top: 130px;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/admin/Post">Gestion des articles</a></li>
                    <li class="list-group-item"><a href="/admin/Post/add">Ajouter une articles</a></li>
                    <li class="list-group-item"><a href="/admin/Category">Gestion des catégories</a></li>
                    <li class="list-group-item"><a href="/admin/Category/add">Ajouter une catégorie</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8">
            <section class=" p-3  d-flex flex-column" id="blog">
                <div class="my-auto">
                    <h2 class="mb-5">Ajouter un commentaire</h2>
                    {{ forms.start()}}
                    {{ forms.input_select(form.postId.name, form.postId.label, form.postId.placeholder,
                                          form.postId.option_array, form.postId.value, form.postId.errors ) }}
                    {{ forms.input_select(form.userId.name, form.userId.label, form.userId.placeholder,
                                          form.userId.option_array, form.userId.value, form.userId.errors ) }}
                    {{ forms.input_textarea(form.content.name, form.content.label, form.content.placeholder, form.content.value, form.content.errors) }}                      
                    {{ forms.submit('Ajouter') }}                      

                    {{ forms.end()}}

                </div>
            </section>   
        </div>        
    </div>        
{% endblock %}
