{% extends'admin.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-lg-2">
            <div class="card" style="width: 18rem; margin-top: 130px;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/admin/comment/add">Ajouter un commentaire</a></li>
                    <li class="list-group-item"><a href="/admin/post/add">Ajouter un article</a></li>
                    <li class="list-group-item"><a href="/admin/Category/add">Ajouter une catégorie</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10">
            <section class=" p-3  d-flex flex-column" id="blog">

                <div class="my-auto">
                    <h2 class="mb-5">Gestion des Commentaires</h2>
                    {% if session() %}
                        <div class="alert alert-{{session().type}}" role="alert">
                            {{ session().message  }}
                        </div>
                    {% endif %}
                    <div class="table-responsive-md">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">id</th>
                                    <th scope="col">Createur</th>
                                    <th scope="col">Article</th>
                                    <th scope="col">Contenu</th>
                                    <th scope="col">Signalement</th>
                                    <th scope="col">Validation</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for p in pagination.result %}
                                    <tr>
                                        <th scope="row">{{p.id}}</th>
                                        <td><a href="">{{p.userId}}</a></td>
                                        <td><a href="/admin/post/show/{{p.postId}}">{{p.postId}}</a></td>
                                        <td>{{p.content|slice(1, 60)}} ...</td>
                                        <td><input type="checkbox" name="report" data-size="mini" data-id="{{p.id}}" data-off-text="non" data-on-text="oui" {% if p.report %} checked="checked" {% endif %} ></td>
                                        <td><input type="checkbox" name="valided" data-size="mini" data-id="{{p.id}}" data-off-text="non" data-on-text="oui" {% if p.valided %} checked="checked" {% endif %} ></td>
                                        <td>{{p.dateCreated|date}}</td>
                                        <td>
                                            <a href="/admin/comment/show/{{p.id}}" style="margin-right: 10px;" data-toggle="tooltip" title="Voir article"><i class="fas fa-eye"></i></a>
                                            <a href="/admin/comment/edit/{{p.id}}" style="margin-right: 10px;" data-toggle="tooltip" title="Modifier article"><i class="fas fa-edit"></i></a>
                                            <a href="/admin/comment/delete/{{p.id}}" onclick="return confirm('Etes vous sûr de vouloir supprimer cette article ?')" style="margin-right: 10px;" data-toggle="tooltip" title="Supprimer article"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if pagination.nbpage > 1 %}

                        {# Number of page around current page+1 pagination.nbPages {{ path(url, { 'page': loop.index, 'q': query }) }}{{ path(url, { 'page': pagination.nbpage, 'q': query }) }} #}
                        {% set nearbyPagesLimit = 4 %}

                        <div >
                            <ul class="pagination">
                                {% if pagination.currentPage != 1 %}
                                    <li class="page-item">
                                        <a class="page-link"  href="{{pagination.first}}">First</a>
                                    </li>
                                {% endif %}
                                {% for i in 1..pagination.nbpage %}
                                    {% if 0 == (pagination.currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                                        <li class="page-item disabled"><a class="page-link"  href="#">...</a></li>
                                        {% elseif 0 == (pagination.currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                                        <li class="page-item disabled"><a class="page-link"  href="#">...</a></li>
                                        {% elseif 0 < (pagination.currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
                                        {% elseif 0 > (pagination.currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                                        {% else %}
                                        <li class="page-item {% if pagination.currentPage == loop.index  %}active{% endif %} ">
                                            <a class="page-link"  href="{{loop.index}}">{{ loop.index }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if pagination.currentPage != pagination.nbpage %}
                                    <li class="page-item">
                                        <a class="page-link"  href="{{pagination.last}}">Last</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %} 
                </div>
            </section>   
        </div>        
    </div>        
{% endblock %}
