{% extends'admin.html.twig' %}
{% import "Macros/form.twig" as forms %}
{% block body %}
    <div class="row">
        <div class="col-lg-2">
            <div class="card" style="width: 18rem; margin-top: 130px;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="/admin/post">Gestion des comments</a></li>
                    <li class="list-group-item"><a href="/admin/Category">Gestion des catégories</a></li>
                    <li class="list-group-item"><a href="/admin/Category/add">Ajouter une catégorie</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8">
            <section class=" p-3  d-flex flex-column" id="blog">
                <div class="my-auto">
                    <h2 class="mb-5">Commentaire crée le {{comment.date_created | date}}</h2>
                    <div class="margin10bottom">
                        <a href="/admin/comment/edit/{{comment.0.id}}" class="btn btn-info" > Modifier le commentaire </a> 
                        <a href="/admin/comment/delete/{{comment.0.id}}" onclick="return confirm('Etes vous sûr de vouloir supprimer ce commentaire ?')" class="btn btn-danger"  > Supprimer le commentaire </a>
                    </div> 
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Auteur</th>
                                <td>{{comment.0.username}}</td>
                            </tr>
                            <tr>
                                <th>Contenu</th>
                                <td>{{comment.0.content}}</td>
                            </tr>
                            <tr>
                                <th>validé</th>
                                <td>{% if comment.0.valided == 1 %}
                                    <span class="badge badge-success">Oui</span>
                                    {% else %}
                                        <span class="badge badge-warning">Non</span>
                                        {% endif %}</td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </section>   
                </div>        
            </div>        
            {% endblock %}
