{% extends'base.html.twig' %}
{% import "Macros/form.twig" as forms %}

{% import "Macros/contact.twig" as contact %}
{% block body %}

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="blog">
        <div class="my-auto">
            <h2 class="mb-5">Connection</h2>
            {% if session() %}
                <div class="alert alert-{{session().type}}" role="alert">
                    {{ session().message  }}
                </div>
            {% endif %}
            {{ contact.message()}}
            {{ forms.start()}}
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ forms.input_text(form.email.name, form.email.label, form.email.placeholder, form.email.value, form.email.errors) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ forms.input_password(form.password.name, form.password.label, form.password.placeholder, form.password.value, form.password.errors) }}
                        </div>
                    </div>                            
                    <div class="form-group">
                        {{ forms.submit('Ajouter') }}  
                    </div>
                </div>
            </div>
            {{ forms.end()}}
        </div>
    </section>    
{% endblock %}


